#robotContainer{
    display: flex;
    position: relative;
    justify-content: flex-end;
   
}

.robot{
    height: auto;
    width: 310px;
    position: relative;
    top: 45px;
    right:-30px;
    transform: rotate(1deg) ;
}

.resumeContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 68px;
    background-color: rgb(28, 176, 255);
    width:335px;
    height:129px;
    outline: 14px dotted gold;
    /* border-radius:100px; */
    /* box-shadow: -10px 10px 4px rgba(0,0,0,0.8); */
    padding: 4px;
    text-align: center;
    font-family: bungee, sans-serif;
    font-weight: 400;
    font-style: normal;
    color:whitesmoke;
    text-shadow: -8px 5px 9px  rgb(0, 0, 0);
    line-height: 125%;
    position: relative;
    /* top: -57px;
    left: 320px; */
}

.resumeContainer:hover{
    transform: scale(1.2);
    transition-duration: 0.6s;
    text-shadow: -10px 7px 4px  rgb(0, 0, 0);
}

#mainContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center

}


@media screen and (max-width: 1024px) and (min-width: 769px) {
    .robot{
        right: -50px;
        width: 269px;
    }

    .resumeContainer{
        left: 32px;
        width:265px;
        height:109px;
        font-size: 58px;
    }
}

@media screen and (max-width: 768px) and (min-width: 428px) {
    .robot{
        right: -44px;
        width: 168px;
    }

    .resumeContainer{
        left: 52px;
        width: 218px;
        height: 87px;
        font-size: 48px;
        outline: 10px dotted gold;
    }
}

@media screen and (max-width: 427px) and (min-width: 327px){
    .robot{
        right: -17px;
        top: -20px;
        width: 175px;
        margin-bottom: -73px;
        

    }

    .resumeContainer{
        left: 33px;
        width: 175px;
        height: 54px;
        font-size: 39px;
        top: -57px;
        outline: 8px dotted gold;
    }
}

@media screen and (max-width: 326px) and (min-width: 1px)  {
    .robot{
        right: -13px;
        top: 19px;
        width: 120px;
        margin-bottom: -63px;

    }
    
    .resumeContainer {
        left: 22px;
        width: 162px;
        height: 41px;
        font-size: 34px;
        top: -1px;
        outline: 7px dotted gold;
    }
}

