#robotContainer{
    display: flex;
    position: relative;
    justify-content: flex-end;
   
}

.robot{
    height: auto;
    width: 470px;
    position: relative;
    /* top: 45px; */
    right: 178px;
    transform: rotate(1deg) ;
}

.resumeContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 68px;
    background-color: rgb(28, 176, 255);
    width:335px;
    height:129px;
    outline: 12px dotted gold;
    /* border-radius:100px; */
    /* box-shadow: -10px 10px 4px rgba(0,0,0,0.8); */
    padding: 4px;
    text-align: center;
    font-family: bungee, sans-serif;
    font-weight: 400;
    font-style: normal;
    color:whitesmoke;
    text-shadow: -8px 5px 9px  rgb(0, 0, 0);
    line-height: 125%;
    position: relative;
    top: 30px;
    left: 220px;
}

.resumeContainer:hover{
    transform: scale(1.2);
    transition-duration: 0.6s;
    text-shadow: -10px 7px 4px  rgb(0, 0, 0);
}

#mainContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center

}

/* .resumeContainer p{
    font-size: 23px;
} */

@media (max-width: 1024px) {
    .robot{
        right: 30px;
        width: 390px;
    }

    .resumeContainer{
        left: 132px;
        width:265px;
        height:109px;
        font-size: 58px;
    }
}

@media (max-width: 768px) {
    .robot{
        right: -3px;
        width: 350px;
    }

    .resumeContainer{
        left: 80px;
        width: 218px;
        height: 87px;
        font-size: 48px;
    }
}

@media (max-width: 427px) {
    .robot{
        right: -17px;
        top: -25px;
        width: 175px;
        margin-bottom: -73px;

    }

    .resumeContainer{
        left: 60px;
        width: 175px;
        height: 54px;
        font-size: 39px;
        top: -57px;
    }
}

@media (max-width: 375px) {
    .robot{
        right: -13px;
        top: -10px;
        width: 150px;
        margin-bottom: -63px;

    }
    
    .resumeContainer {
        left: 52px;
        width: 162px;
        height: 41px;
        font-size: 34px;
        top: -40px;
        outline: 7px dotted gold;
    }
}

