.longhorn{
    height: auto;
    width: 524px;
}

#longhornContainer{
    display: flex;
    justify-content: center;
    position: relative;
    top: 6px;
    left: 42px;
}

@media screen and (max-width: 430px) and (min-width: 1px)  {
    .longhorn{
        height: auto;
        width: 379px;
    }

    #longhornContainer{
        top: 6px;
        left: 11px;
    }
}