.longhorn{
    height: auto;
    width: 524px;
}

#longhornContainer{
    display: flex;
    justify-content: center;
    position: relative;
    top: 6px;
    left: 42px;
}

@media (max-width: 427px){
    .longhorn{
        height: auto;
        width: 379px;
    }

    #longhornContainer{
        top: 6px;
        left: 11px;
    }
}