.ben{
    width: 1000px;
    height: auto;
}

#meContainer{
    display: flex;
    position: relative;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    left: -60px;
    text-align: center;
}

#info{
    position: absolute;
    top: 50%;
    left: 58%;
    transform: translate(-50%, -50%);
    font-size: 33px;
    font-family: liebelotte, sans-serif;
    font-weight: 700;
    font-style: normal;
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
    .ben{
        width: 800px;
        height: auto;
    }

    #info{
        font-size: 29px;
        top: 52%;
        left: 61%;
        line-height: 0.9;
    }
}

@media screen and (max-width: 768px) and (min-width: 428px){

    .ben{
        width: 526px;
        height: auto;
        top: 10px;
        margin-bottom: -318px;
    }

    #info{
        display:flex;
        position: relative;
        font-size: 27px;
        width: 365px;
        height: 384px;
        left: 263px;
        top: 218px;
        line-height: 1;
        background-color: white;
        border-radius: 30px;
        padding: 6px;
        text-align:center;
        outline: black 1px solid;
        
    }

    p{
        position: relative;
        top: 6px;
    }
}

@media screen and (max-width: 427px) and (min-width: 326px){
    .ben{
        width: 498px;
        height: auto;
        margin-bottom: -334px;
    }

    #info{
        left: 267px;
        top: 256px;
        font-size: 26px;
        margin-bottom: 15px;
        outline: solid black 1px;
        background-color: white;
        height: 470px;
        width: 373px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        position: relative;
        padding: 10px;
        border-radius: 132px;
    }

    /* #info br {
        content: 'none';
    } */

    #meContainer{
        display: flex;
        position: relative;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        left: -7px;
        text-align: center;
        overflow-x: auto;
    }
}

@media screen and (max-width: 326px) and (min-width: 1px)  {
    .ben{
        width: 460px;
        height: auto;
        margin-bottom: -392px;
        position: relative;
        top: 50px;
    }

    #meContainer{
        left: -60px;
        width: 490px;
        
    }

    #info{
    left: 259px;
    top: 362px;
    font-size: 26px;
    margin-bottom: 15px;
    outline: solid black 1px;
    background-color: white;
    height: 468px;
    width: 351px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    padding: 7px;
    border-radius: 81px;
    }
}

